#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

%:
	dh $@ --with=systemd

override_dh_install:
	dh_install -XREADME

override_dh_systemd_enable:
	dh_systemd_enable --name=piaware-gui-tft piaware-gui-tft.service
