Source: piaware-gui
Section: embedded
Priority: extra
Maintainer: FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper(>=10), tcl
Standards-Version: 3.9.3
Homepage: https://github.com/flightaware

Package: piaware-gui
Architecture: all
Depends: piaware, tcl8.6, tcllib, tk8.6, xorg, xserver-xorg-video-fbdev, xserver-xorg-legacy, fonts-lato, ${misc:Depends}
Description: Tcl/Tk GUI for PiAware

Package: piaware-gui-release
Architecture: all
Depends: piaware-gui (= ${binary:Version}), piaware-release (= 7.1~bpo10+1)
Description: Metapackage for PiAware SD card images with LCD/GUI support
